/**
 *
 * @Author: Hurry
 * @Date: 2021/04/25
 */

:root {
  --color-primary: #5f08b0; /* MetaMask主题色 */
  --general-white: #ffffff;
  --motion: 0.3s;
  --motion-speed: 1;
  --bg-dark: #16141a;
}
.link-font {
}
.link-font:hover {
  color: rgba(0, 115, 247, 1);
}
.app {
  position: relative;
}
